.upload-button{
    box-sizing: border-box;
    background-color: rgba(30,215,96,255);
    color: #fff;
    border-radius: 500px;
    border: 0px transparent solid;
    padding: 8px;
    width: 100px;
    height: 50px;
    font-family: inherit;
    font-weight: bold;
    font-size: medium;
    margin: 15px 0px;
}

.upload-button:hover{
    height: 53px;
    cursor: pointer;
}

.delete-playlist-button{
    box-sizing: border-box;
    background-color: grey;
    color: #fff;
    border-radius: 500px;
    border: 0px transparent solid;
    padding: 8px;
    width: 100px;
    height: 34x;
    font-family: inherit;
    font-weight: bold;
    font-size: medium;
    margin: 15px 0px;
}
.delete-playlist-button:hover{
    height: 36px;
    cursor: pointer;
}

.upload-song-modal{
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    background-color: #282828;
    border-radius: 4px;
    padding: 4px;
    z-index: 3;
    width: 500px;
    min-height: 450px;
}

.upload-song-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

}

.loading-dots{
    box-sizing: border-box;


    border-radius: 500px;
    border: 0px transparent solid;
    padding: 8px;
    min-width: 100px;
    min-height: 50px;
    max-width: 100px;
    max-height: 50px;
    font-family: inherit;
    font-weight: bold;
    font-size: medium;
    margin: 15px 0px;
}
