.profile-button{
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: rgba(24,24,24,255);
    color: white;
    max-width: 150px;
    min-width: 120px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-radius: 23px;
}

.profile-button-picture{
    border-radius: 50%;
    height: 28px;
    width: 28px;

}

.profile-dropdown{
    position: fixed;
    right: 25px;
    top: 55px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    background-color: #282828;
    border-radius: 4px;
    width: 200px;
    max-height: 130px;
    padding: 4px;

}

.profile-dropdown > li,
.profile-dropdown-link >li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    max-height: 40px;
    padding: 12px;
}
.profile-dropdown > li:hover,
.profile-dropdown-link> li:hover{
    background-color: rgba(79,79,79,255);

}

.profile-dropdown-link{
    text-decoration: none;
    color: hsla(0,0%,100%,.9);;
}
.profile-dropdown-link:visited{
    text-decoration: none;
}

.triangle{
    width: 12px;
    height: 6px;
}
