.playlist-preview{
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-preview-image {
    width: 155px;
    height: 155px;

}

.playlist-carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}


.playlist-preview{
    width: 180px;
    height: 265px;
    margin-right: 25px;
    background-color: rgba(22,22,22,255) ;
    border-radius: 5px;
    transition: .3s;
}
.playlist-preview:hover{

    background-color: rgba(40,40,40,255) ;
}
.playlist-name{
    align-self: flex-start;
    color: white;
    margin-left: 15px;
    font-weight: 500;
}
.playlist-navlink{
    color: white;
    text-decoration: none;
}
.playlist-navlink:visited{

    text-decoration: none;
}

.song-header {
    display: grid;
    grid-template-columns: [number] 25px [Title] 5fr [Album] 4fr [space] 3fr ;
    grid-gap: 12px;
    font-weight: 400;
    color: rgba(123,118,117,255);
    border-bottom: 1px grey solid;
}
