/* TODO Add site wide styles */
body{
    height: 100vh;
    margin-left: 240px;
    padding: 0px 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#1b0d3f,rgba(17,17,17,255));
    color: white;
}
