/* TODO Add site wide styles */
body{
    /* height: 100%;
    margin-left: 240px;
    margin-bottom: 80px;
    padding-left:32px; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* background: linear-gradient(#1b0d3f,rgba(17,17,17,255));
    color: white; */
    background: linear-gradient(#1b0d3f,rgba(17,17,17,255));

}

#content-wrapper{
    height: 100%;
    margin-left: 240px;
    margin-bottom: 80px;
    padding-left:32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}


*::-webkit-scrollbar {
    width: 15px;
    height: 15px;

    }
*::-webkit-scrollbar-track{

    background: transparent;

}

*::-webkit-scrollbar-gutter{

    background: transparent;

}


*::-webkit-scrollbar-thumb{
background-color:rgba(89,89,89,255);
transition: .3s;
}
*::-webkit-scrollbar-thumb:hover{
background-color: rgba(137,137,137,255);
}
