.sign-up-wrapper{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: black;
}


.sign-up-input{
    color: black;
    height: 50px;
    width: 450px;
}
.sign-up-input-label{
    color: black;
}

.signup-input-and-label{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.logo-signup{
    height: 40px;
    width: 130px;
}

.signup-message{
    color: black;
}

.sign-up-form{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-redirect-container{
    color: black;
}

.sign-up-redirect{
    color: rgba(29,185,84,255);
}

.sign-up-button{
    margin-bottom: 24px;
    background-color: rgba(30,215,96,255);
    color: black;
    border: none;

    width: 150px;
    height: 52px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 500px;
}

.sign-up-button:hover{
    height: 54px;
    width: 152px;
}

.button-holder{
    height: 54px;
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-redirect-container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirect-to-signup{
  font-size: 14px;
  line-height: 20px;
  width: 450px;
  border-radius: 500px;
  height: 50px;
  letter-spacing: 2px;
  background-color: white;
  border: 1px solid gray;
  box-sizing: border-box;
  margin-top: 10px;
  font-weight: bold;
  font-size:medium;
  color: #6A6A6A ;
}
.redirect-to-signup:hover{
  border: black 1px solid;

}

.demouser-container{
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.demo-button{
    margin-bottom: 24px;
    background-color: rgba(30,215,96,255);
    color: black;
    border: none;

    width: 300px;
    height: 52px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 500px;
    margin-top: 10px;
}

.demo-button:hover{
    height: 54px;
    width: 302px;
}
