.songoptions-dropdown{
    position: absolute;
    top: 35px;
    right: 10px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    background-color: #282828;
    border-radius: 4px;
    width: 200px;
    max-height: 130px;
    padding: 4px;
    z-index: 2;
}


.songoptions-dropdown > li
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    max-height: 40px;
    padding: 12px;
}
.songoptions-dropdown > li:hover
{
    background-color: rgba(79,79,79,255);

}
