.image-and-play{
    position: relative;
}


.play-button-preview{
    width: 55px;
    height: 55px;
    z-index: 10;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.play-button-preview:hover{
    cursor: pointer;
}

.name-and-elipse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 170px;
    align-items: center;

    margin: 16px 0px;
}

.song-spanreview-name{
    width: 170px;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-elipse{
    justify-self: flex-end;
}
