.image-and-play{
    position: relative;
}


.play-button-preview{
    width: 55px;
    height: 55px;
    z-index: 10;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.play-button-preview:hover{
    cursor: pointer;
}

.name-and-elipse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
    align-items: center;
}
