.song-container{
    display: flex;
    flex-direction: row;
    margin:  10px 0px;
}

.playlist-dropdown-option{
    border: black 1px solid;
}
.playlist-dropdown-option:hover{
    cursor: pointer;
    background-color: grey;
}
