.song-container{
    display: grid;
    grid-template-columns: [number] 25px [Title] 5fr [Album] 4fr [space] 3fr [dots] ;
    max-height: 56px;
    margin:  10px 0px;
    align-items: center;
    grid-gap: 12px;
    padding-left: 10px;
    grid-template-rows: 56px;
    position: relative;
    box-sizing: border-box;
}

.elipse-holder{
    position: relative;
    width: auto;
}
.elipse-holder:hover{
    cursor: pointer;
}

.song-container:hover{
    background-color: rgba(43,42,48,255);
}

.playlist-dropdown-option{
    border: black 1px solid;
}
.playlist-dropdown-option:hover{
    cursor: pointer;
    background-color: grey;
}

.song-image{
    height: 40px;
    width: 40px;
}

.song-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:auto;
}

.song-name-artist {
    margin-left: 16px;
    height: 100%;
    width: auto;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}
.play-on-song{
 height: 17px;
 width: 17px;
}
.play-on-song:hover{
    cursor: pointer;
}

.song-artist{
    color: rgba(123,118,117,255);
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}


.song-buttons{
    position: relative;
}
